.video-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.video-section {
  border: 0px;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.arrow-img {
  background-color: transparent;
  animation: bounce 1s infinite;
}

.arrow > p {
  font-weight: 700;
  padding-right: 10px;
}

.localidadHomeMobile{
  display: block;
  position: relative;
}


/* Mobile and Smaller Desktop */
@media (max-width: 1000px) {
  .video-section-container {
    display: none;
  }

  .video-page-container {
    padding-top: 0px;
    height: 0;
  }

  .arrow{
    display: none;
  }

  .arrow > p {
    padding-right: 0px;
  }

  .arrowHome{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    right: auto;    
    margin: 0 0 calc(var(--unidadDeEspacioVh) * 3);
    z-index: calc( var(--zIndexVideoHomeMobile) + 1);
    justify-items: center;
    align-items: center;
    gap: calc(var(--unidadDeEspacioVh) * 2)
  }

  .arrowHome-img {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
