.about-container {
  padding: 30px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.about-text {
  width: 600px;
  height: 390px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.span {
  margin-top: 20px;
  font-weight: 100;
}

.about-text > p {
  margin-bottom: var(--margenTextoMobile);
  display: flex;
  flex-direction: column;
}

.social-text {
  display: flex;
  /* flex-direction: column; */
  padding-right: 50px;
  justify-content: space-between;
  align-items: flex-end;
  height: 7em;
}

/* Mobile and Smaller Desktop */
@media (max-width: 1000px) {
  .about-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: calc(var(--altoHeader) + var(--unidadDeEspacio)) 0 0;
    overflow: hidden;
  }

  .about-text {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: var(--margenTextoMobile) var(--margenTextoMobile) 0;
  }

  .aboutImagen{
    position: relative;
    display: block;
    margin-bottom: var(--margenTextoMobile);
    width: 100%;
    height: auto;
  }

  .social-text {
    display: flex;
    height: auto;
    margin: var(--margenTextoMobile) 0 calc(var(--margenTextoMobile) * 2);
    padding: 5px;
  }

  .social-text > div {
    margin-bottom: var(--margenTextoMobile);
  }

  .social-media {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}
