.video-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* Mobile */
@media (max-width: 700px) {

  .video-container {
    width: 100vw;
    height: 40vh;
  }

  .video {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .video-container-home{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: var(--zIndexVideoHomeMobile);
  }

  .video-home{
    position: relative;
    width: calc(100vh * 2);
    height: 100%;
  }
}
