.main-projects-container {
  width: 100%;
  padding-bottom: 15em;
  z-index: calc(var(--zIndexVideoHomeMobile) + 3);
  padding-top: 0px;
  transition: padding-top 0.4s 0.2s linear;
}

.home-title {
  text-align: center;
  padding: 50px 30px;
  margin-bottom: 30px;
}

.page-info {
  margin: 40px;
  padding-top: 30px;
  width: 90%;
  text-align: center;
}

.work {
  text-align: start;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  width: 33%;
  background-size: cover;
  height: 350px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.thumbnail:hover {
  text-decoration: underline;
}

.thumbnail:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.project-title {
  position: absolute;
  background-color: transparent;
  top: 93%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin-left: 20px;
  z-index: 2;
}

.thumbnail:hover .project-title p {
  text-decoration: underline;
  text-underline-offset: 4px;
}

p {
  background: transparent;
}

/* Mobile and Smaller Desktop */
@media (min-width: 900px) and (max-width: 1000px) {
  .thumbnail {
    width: 275px;
    height: 200px;
  }
}

@media (max-width: 1000px) {
  
  .main-projects-container {
    padding-bottom: 0em;
    overflow: hidden;
    padding-top: var(--altoHeader)
  }

  .subtitle{
    display: none;
  }

  .work{
    display: none;
  }

  .thumbnail-container {
    gap: 10px;
  }

  .thumbnail {
    width: 100%;
    height: 200px;
  }

  .page-info {
    box-sizing: border-box;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 0px 0px 20px;
    border-bottom: 1px solid white;
  }

  .work {
    text-align: center;
    margin: 0 40px;
  }

  .project-title {
    padding-bottom: 30px;
  }

  .home-title {
    padding: 10px 0;
  }
}
