.page-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  align-self: flex-start;
  padding: 30px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.synopsis {
  width: 90%;
  padding: 30px;
  padding-left: 0;
}

.credits {
  width: 100%;
  padding: 30px;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
}

.text {
  margin-bottom: 10px;
}

.column-left {
  width: 300px;
  margin-right: 30px;
}

span {
  font-weight: 700;
}

/* Mobile and Smaller Desktop */
@media (max-width: 1000px) {
  .page-container {
    padding-bottom: 20px;
  }

  .title {
    width: fit-content;
  }

  .info-container {
    align-self: center;
    padding:   var(--margenTextoMobile)   var(--margenTextoMobile) 0px;
  }

  .credits {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
  }

  .vfx-credits {
    padding-bottom: 20px;
  }
}
