.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-sobreVideo{
  background-color: transparent;
  position: fixed;
  top: 10vh;
  z-index: calc( var(--zIndexVideoHomeMobile) + 1);
}

.home-cajaVacia{
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
