.header {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 98%;
  padding: 5px 15px;
  position: fixed;
  z-index: calc(var(--zIndexMenuMobile) * 3);
  background: rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s ease;
  margin-top: 0vh;
}

.header.scrolled {
  background-color: black !important;
}

.sections {
  display: flex;
  align-items: center;
  background: none !important;
}

.section-menu-desktop {
  display: flex;
  align-items: center;
  background: none !important;
}

.section-menu-desktop > a > img {
  background: none !important;
}

.logo {
  cursor: pointer;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;
  background: none !important;
  display: flex;
  align-items: center;
}

.logoMobile {
  height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  background: none !important;
  display: flex;
  align-items: center;
  z-index: calc( var(--zIndexMenuMobile) + 1);
}

.section {
  cursor: pointer;
  height: 50px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: large;
  font-family: inherit;
}

.section:hover {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.language {
  display: flex;
  background-color: transparent;
  align-items: center;
}

.mobile-header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  padding: 5px 15px;
  top: 0;
  z-index: 10;
}

.mobile-menu-button {
  border: none;
  display: flex;
  z-index: calc( var(--zIndexMenuMobile) + 1);
  background-color: transparent;
}

.mmb-lineaSVG{
  transition: transform 0.3s;
}

.mobile-menu-container {
  position: absolute;
  top: -100vh;
  box-sizing: border-box;
  padding: 0 0.5em 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  z-index: var(--zIndexMenuMobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
}

.mobile-sections {
  text-decoration: none;
  box-sizing: border-box;
  padding: 2vh 2vh;
}

.options {
  font-size: 30px;
}

.mobMenCon-footer{
  position: relative;
  margin-top: 0;
  display: grid;
  box-sizing: border-box;
  padding: var(--unidadDeEspacio) var(--unidadDeEspacio) 0;
  align-items: center;
  justify-items: center;

}

.mobMenCon-footer_social-media{
  display: flex;
  align-items: center;
  min-width: 60%;
  justify-content: space-between;

}

@media (max-width: 500px) {
  .mobMenCon-footer{
    margin-top: calc(var(--unidadDeEspacioVh) * 4);
  }
}

/* Mobile and Smaller Desktop */
@media (max-width: 1000px) {
  .header {
    display: flex;
    width: 98%;
    position: fixed;
    z-index: calc(var(--zIndexMenuMobile) * 3);
  }

  .sections {
    width: 100%;
    justify-content: space-between;
  }

  .section{
    padding: 0 4px;
  }

  .mobile-header {
    background-color: transparent;
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .mobile-header.scrolled {
    background-color: black !important;
  }

  .mobile-menu-button {
    justify-self: start;
    background-color: transparent;
  }

  .logoMobile {
    justify-self: end;
    margin-right: 2px;
  }

  .logo-imagen{
    background-color: transparent;
  } 
  
  .iconoHamburguesa{
    background-color: transparent;
  }
}
