.footer {
  position: relative;
  display: block;
  border-top: 1px solid white;
  margin: 120px 60px 0;
  text-align: center;
  padding-top: 15px;
}

.country {
  margin: 20px 0;
}

.mobile-break {
  display: none;
}

.legal {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  display: flex;
  align-items: center;
  margin: 0px;
}

.social-icon {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin: 0 10px;
}

.social-icon:hover {
  background-color: rgba(70, 70, 70, 0.8);
}

.icono-touch{
  display: none;
  position: absolute;
  top: -50px;
  left: calc(50% - 55px);
  background-color: transparent;
  animation: idaYvuelta 4s infinite;
}

@keyframes idaYvuelta {
  0% { transform: translateX(0px); }
  5% { transform: translateX(0px); }
  45% { transform: translateX(80px); }
  55% { transform: translateX(80px); }
  95% { transform: translateX(0px); }
  100% { transform: translateX(0px); }
}

/* Mobile */
@media (max-width: 1000px) {
  .footer {
    margin: 20px 10px 0;
    padding-top: 0px;
    z-index: 10;
  }

  .legal{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: var(--unidadDeEspacioVh) 0;
  }

  .contenedorFraseLegal{
    position: relative;
    display: block;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .social-media {
    min-width: 60%;
    justify-content: space-between;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px;
  }

  .icono-redSocial{
    width: 35px;
    height: 35px;
  }

  .country {
    display: none;
  }

  .separator {
    display: none;
  }

  .mobile-break {
    display: block;
  }
}
